.icon {
	background-image: @sprite-url;
	background-repeat: no-repeat;
	background-position: 0 0; // default value
	&.icon-down-white {
		width: 10px;
    	height: 6px;
		background-position: -150px 0px; 
	}
	&.icon-down-grey {
		width: 10px;
    	height: 6px;
		background-position: -49px 0px;
	}
	&.location {
		width: 10px;
    	height: 10px;
		background-position: -98px -0px;
	}
	&.searcher {
		width: 13px;
    	height: 13px;
		background-position: -0px -0px;
	}
	&.box-unchecked {
		width: 20px;
    	height: 20px;
		background-position: -0px -50px;
	}
	&.box-checked {
		width: 20px;
    	height: 20px;
		background-position: -50px -50px;
	}
}